<footer>
    <div class="footer-container">
        <div class="inner-footer">
            <div class="logo-container">
                <img src="/assets/hiveLogo4.png" alt="logo">
            </div>
            <div class="menu-container">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Back to top icon</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p>Copyright © 2021 Sofia Bulgaria. All rights reserved</p>
</footer>