header {
    background-color: #1b1b1b;
    min-height: 50px;
    display: flex;
    .inner-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        .logo-container {
            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }
        }
        .menu-container {
            ul {
                display: flex;
                li {
                    a {
                        color: #fff;
                    }
                    &:first-child {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}